<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/27517fada0.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="/js/generales.js"></script>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="icon" href="/img/logosolo.png">
    <link rel="stylesheet" href="/css/base.css">
    <title>Mi Perfil</title>
</head>
<body>
<header>
    <img src="/img/untlogo.png" alt="utn logo" class="utnLogo">
    <div class="diseniologo">
        <img src="/img/logosolo.png" alt="diseniologo" style="">
        <p>Diseño de Sistemas</p>
    </div>
</header>
<div class="main_container">
    
    <div class="contenedor-carta-usuario">
        <div class="carta-usuario">
            <form method="post">

                <div class="form-cargar-usuario">
                    
                    <div class="" style="margin:40px;">
                        <label><i class="fas fa-audio-description"></i> Prendas</label>
                        <br>
                        <input id="guardarropa" name="guardarropa" type="text" class="form-control" value="{{guardarropa}}" disabled>
                        {{#each atuendo.prendas}}
                            <p> {{descripcion}} de color: {{colorPrimario}}/{{colorSecundario}}</p>
                        {{/each}}
                        <!--<input type="text" name="descripcion"  class="input-datos" placeholder="Nombre" value={{atuendo.prendas}} readonly>-->

                    </div>
                </div>
                    <!--<a type="button" class="btn-verde" style="float: left;" href="/atuendoGenerado/{{guardarropa}}">Rechazar atuendo</a>-->
                    <input type="submit" name="" class="btn-verde" style="float:right;"  value="Aceptar Atuendo">
                    <a href="/rechazar/{{guardarropa}}" class="btn-verde" style="float:left;">Rechazar Atuendo</a>
            </form>
        </div>
    </div>

</div>
</body>
</html>