<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/27517fada0.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="/js/eventos.js"></script>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="icon" href="img/logosolo.png">
    <link rel="stylesheet" href="/css/base.css">
    <title>Eventos</title>
  </head>
  <body id="body">
    </head>
    <body id="body">
      <header>
        <img src="/img/untlogo.png" alt="utn logo" class="utnLogo">
        <div class="diseniologo">
          <img src="/img/logosolo.png" alt="diseniologo" style="">
          <p>Diseño de Sistemas - Que me pongo?</p>
        </div>

      </header>

    <div class="main_container">
      <h1 class="encabezado">Eventos</h1>
      <input type="text" name="" value="" placeholder="Buscar" id="inputUsuario">

       <!-- ================= /atuendo , te salen las opciones para crear uno================== -->

      <a href="/evento" class="btn-border-blue fuente">Crear evento</a>
      <table class="tabla" id="tabla">
        <thead>

          <th>ID</th>
          <th>Lugar</th>
          <th>Fecha</th>
          <th>Dias en que se repite</th>
          <th>Acciones</th>
        </thead>
        <tbody>


          <!-- ================= Each: Clase / Sus variables ================== -->
        {{#each eventos}}
        <tr>
            <td>{{id}}</td>
            <td>{{lugar}}</td>
            <td>{{fecha}}</td>
            <td>{{diasEnQueSeRepite}}</td>
            <td>

                 <!-- ================= BOTONES  ================== -->
                <!--<a href="/usuario/{{id}}" name="button" style="margin:0px;" class="btn btn-border btn-border-blue" ><i class="far fa-eye"></i></a>-->
                <a href="/usuario/{{id}}" name="button" class=" btn btn-edit"><i class="fas fa-user-edit"></i></a>
                 <button type="button" name="button" class="btn" onclick="confirmarEliminacion('{{id}}')"><i class="fas fa-trash"></i></button>
            </td>
        </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
  </body>


  <!-- ================= MODAL ELIMINACION ================== -->
  <div class="modalEliminar modal" id="modalEliminar">
    <div class="modalContent">
        <input id="eventoId" type="hidden" value="">
      <p>¿Desea eliminar el evento?</p>
      <button type="button" name="button" class="btn-close-modal" onclick="cerrarModal()" ><i class="fas fa-times-circle"></i></button>
      <br>
      <div class="">
        <button type="button" name="button" class="btn-rojo" onclick="eliminarEvento()">Eliminar</button>
        <button type="button" name="button" class="btn-cancelar" onclick="cerrarModal()">Cancelar</button>
      </div>
    </div>
  </div>
  <!-- ================= FIN MODAL ELIMINACION ================== -->


</html>
